@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700'); /* Font for main text */
@import url('https://fonts.googleapis.com/css?family=Pacifico'); /* Font for headings */
@import url('https://fonts.googleapis.com/css?family=Patua+One'); /* Font for logo (title) of page */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
}

viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* Text Styling */
h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
}

h1 {
  margin: 0;
  font-size: 2.6em;
}

h2 {
  margin: 10px 0px;
  font-size: 2em;
}

h3 {
  margin: 0px;
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin: 0;
  font-size: 1.3em;
}

a {
  text-decoration: underline;
  color: #505050;
}

a:hover {
  color: #61DF6B;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

button {
  background-color: #61DF6B;
  padding: 10px 15px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

button:hover {
  background-color: #98F094;
}

a.account {
  font-size: 1.2em;
  text-decoration: underline;
  color: #000;
}

a.account:hover {
  color: #4A4A4A;
}

.message {
  color: red;
  font-size: 1em;
}

/* Table styling */
table {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
}

/* Header */
header {
  height: 130px;
  background: #CCCCCC;
  position: relative;
  top: 0%;
}

header .mobile-nav {
  display: none;
}

header .open {
  display: none;
}

header a.logo {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #000;
  font-size: 1.7em;
  position: absolute;
  display: block;
  top: 30%;
  left: 43.7%;
}

header a.user {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/header/user.svg) no-repeat 0 0;
  background-size: contain;
  left: 12%;
  bottom: 50%;
}

header a.user span {
  display: none;
}

header a.bag {
  position: absolute;
  display: block;
  width: 33px;
  height: 33px;
  background: url(../images/header/bag.svg) no-repeat 0 0;
  background-size: contain;
  left: 17%;
  bottom: 40%;
}

header a.bag span {
  display: none;
}

header div.account {
  position: absolute;
  width: 42%;
  top: 45%;
  left: 89%;
}

header div.account p {
  line-height: 1em;
  margin: 0 0 30px 0;
  color: #000;
  font-size: 0.8em;
}

header div.account img {
  height: 30px;
  width: 30px;
}

/* Header on "secure" pages */
header.secure .secured {
  padding-left: 46.5%;
  padding-top: 86.5px;
}

header.secure img, p.shop {
  width: 43%;
  float: left;
  padding: 5px;
  font-size: 1.2em;
}

header.secure img {
  width: 20px;
}

/* Navigation Bar */
nav {
  background-color: #ccc;
  position: absolute;
  margin-top: 2px;
  left: 0px;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 35px;
}

nav ul li:hover {
  background-color: #E7E7E7;
}

nav ul li a {
  color: #000;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  color: #000;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* Content Layout */
/* All Sections/Articles */
article::after {
  content: '';
  display: block;
  clear: both;
}

section {
  padding: 10px 30px;
}

section::after {
  content: '';
  display: block;
  clear: both;
}

/* Section - Promotion (available on most pages) */
section.promotion {
  font-size: 1em;
  background-color: #8BEA67;
  margin-top: 20%;
  padding: 5px;
  font-weight: bold;
}

section.promotion .scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 20s linear infinite;
}

/* Define the animation */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Homepage Styling and Layout */
/* Section - Slideshow */
section.slideshow {}

section.slideshow img {
  width: 100%;
  height: 90%;
}

/* Section - Main */
section.main {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 4px;
  padding: 0;
}

section.main aside.home {
  width: 33.33%;
  float: left;
  text-align: left;
}

section.main .content {
  margin: 15px;
  padding: 20px;
  background-color: #ccc;
}

section.main aside.home h2 {
  font-size: 1.8em;
  text-align: center;
}

/* Clothing and Shoes & Accessories Page Styling and Layout */
/* Section - Introduction */
section.introduction {
  text-align: center;
  padding: 5px;
}

section.introduction h1 {
  font-size: 2em;
}

/* Section - Main */
.btn {
  border: none;
  outline: none;
  padding: 12px 30px;
  margin: 10px;
  margin-left: 40px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#btnContainer {
  background-color: #ccc;
  text-align: center;
}

/* Clothing */
section.main .items {
  overflow: hidden;
}

section.main .items aside {
  width: 23.4%;
  float: left;
  text-align: left;
  margin: 10px;
}

section.main .items aside img {
  width: 100%;
}

.filter {
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

section.main h2 {
  font-size: 1.1em;
  padding-left: 5px;
  text-decoration: underline;
}

section.main p {
  padding-left: 5px;
}

section.main span {
  padding: 5px;
  padding-top: 5px;
}

/* About Page Styling and Layout */
/* Article - Main */
article.main {
  width: 96%;
  margin: 20px 45px;
  padding-top: 20px;
}

article.main h1 {
  text-align: center;
  margin-bottom: 10px;
}

article.main img {
  width: 100%;
}

article.main p {
  font-size: 1.3em;
  padding: 5px 0px;
}

article.main a:hover {
  color: #61DF6B;
}

/* Help Page Styling and Layout */
article.help section {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
}

article.help section.FAQ {
  width: 50%;
}

article.help section.FAQ .question {
  background-color: #CCCCCC;
  padding: 5px;
  font-weight: 700;
}

article.help section.help-form {
  margin-left: 50px;
  width: 40%;
}

article.help section.help-form form {
  background-color: #cccccc;
  padding: 15px;
  margin-top: 5px;
}

article.help section.help-form form p {
  padding: 0;
}

/* Input areas for forms on all pages */
form input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  border: 1px solid black;
  border-radius: 4px;
}

form select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 4px;
}

form textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  border: 1px solid black;
  border-radius: 4px;
}

form input[type=submit] {
  background-color: #61DF6B;
  font-weight: 700;
  border: 2px solid black;
  float: right;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

form input[type=submit]:hover {
  background-color: #98F094;
}

form::after {
  content: '';
  display: block;
  clear: both;
}

/* Contact Page Styling and Layout */
article.contact section {
  width: 43%;
  float: left;
  padding: 5px;
  padding-left: 35px;
}

article.contact section.info {
  width: 50%;
}

article.contact section.info {
  text-align: center;
}

article.contact section.info img {
  height: 200px;
}

article.contact .feedback form {
  background-color: #cccccc;
  padding: 15px;
  margin-top: 5px;
  width: 90%;
}

/* Shopping Bag Page Styling and Layout */
article.bag section.bag-intro {
  text-align: center;
}

article.bag section.bag-contents {}

article.bag section.bag-contents table {
  text-align: center;
}

article.bag section.bag-contents table td {
  border-top: 1px solid #ddd;
  padding: 10px;
  vertical-align: text-bottom;
  width: 450px;
}

article.bag section.bag-contents table img {
  width: 80%;
}

article.bag section.bag-contents table button {
  background-color: #FD3434;
  font-weight: 700;
  font-size: 0.8em;
}

article.bag section.bag-contents table button:hover {
  background-color: #FF6868;
}

hr {
  border-top: 1px solid #ddd;
}

article.bag section.bag-contents button {
  float: right;
}

article.bag section.bag-contents h3 {
  text-align: right;
}

/* Individual Item Page Styling and Layout */
article.item section {
  width: 43%;
  float: left;
  padding: 5px;
  padding-left: 90px;
}

/* Manual Slideshow */
.slideshow-container {
  position: relative;
  text-align: center;
  color: white;
}

.click {
  cursor: pointer;
  margin-bottom: 65%;
  bottom: 8px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px 2px 10px;
}

.left {
  position: absolute;
  left: 16px;
}

.right {
  position: absolute;
  right: 16px;
}

.slides {
  display: none
}

article.item section h1 {
  text-align: left;
}

article.item section h3 {
  text-decoration: underline;
}

article.item section p {
  padding-top: 5px;
}

article.item section button {
  float: right;
  margin-right: 15px;
}

/* Register/login page Styling and Layout */
article.login section {
  width: 100%;
  float: left;
  padding: 5px;
  margin-left: 250px;
}

article.login form {
  background-color: #ccc;
  padding: 5px;
}

article.login section.login {
  width: 35%;
}

article.login section.login form input[type=submit] {
  font-size: 1em;
}

article.login section.register {
  width: 35%;
  margin-left: 30px;
}

article.login section.register form input[type=submit] {
  font-size: 1em;
}

/* Account Page Styling and Layout */
article.account {
  text-align: center;
}

article.account section.account-orders {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}

article.account table {
  font-size: 1.5em;
  margin-left: 10px;
}

article.account table td {
  padding-left: 75px;
  padding-right: 75px;
  border-top: 1px solid #ccc;
}

article.account table img {
  width: 100%;
}

article.account hr {
  width: 90%;
  float: left;
}

/* Checkout Page Styling and Layout */
article.checkout h1 {
  text-align: left;
}

article.checkout h4 {
  text-align: right;
}

article.checkout form input[type=submit] {
  font-size: 1.2em
}

article.checkout section {
  width: 100%;
  float: left;
  padding: 5px;
  margin-left: 170px;
}

article.checkout section.order {
  width: 30%;
}

article.checkout section.order img {
  width: 100px;
}

article.checkout section.order .order-detail {
  margin-left: 20%;
  margin-top: -28%;
}

article.checkout section.delivery-payment {
  width: 43%;
}

article.checkout section.delivery-payment .delivery {
  background-color: #ccc;
  padding: 5px;
  margin: 5px;
}

article.checkout section.delivery-payment .payment {
  background-color: #ccc;
  padding: 5px;
  margin: 5px;
}

/* Order Confirmation Page Styling and Layout */
article.confirmation {
  text-align: center;
}

article.confirmation button {
  margin: 65px;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Footer */
footer {
  font-size: 0.8em;
  color: #fff;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #383838;
}

footer .content {
  display: inline;
}

footer .content a {
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
}

footer .content a:visited {
  color: #fff;
  text-decoration: none;
}

footer .content a:hover {
  color: #61DF6B;
  text-decoration: underline;
}

footer img {
  width: 20px;
  margin-left: 10px;
}

footer .social {
  float: right;
}

/* Footer on pages with less content */
footer.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 97%;
}

/* Media Queries -- only works really on homepage, not responsive enough */

Larger Screens
Screen width: 1250 pixels */
@media screen and (max-width: 1250px) {

  /*  Header */
  header a.user {
    left: 18%;
  }
}

/* Screen width: 1150 pixels */
@media screen and (max-width: 1150px) {

  /* Header */
  header a.user {
    left: 19%;
  }
}

/* Screen width: 1050 pixels */
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 1.6em;
  }

  /* Header */
  header a.user {
    left: 21%;
  }
}

/* Medium screens

Screen width: 950 pixels */
@media screen and (max-width: 950px) {

  /* Header */
  header a.user {
    left: 22%;
  }

  /* Section - Promotion */
  section.promotion p {
    font-size: 1.2em;
  }
}

/* Screen width: 800 pixels */
@media screen and (max-width: 800px) {
  p {
    font-size: 0.9em;
  }

  /* Header */
  header a.logo {
    left: 30%;
  }

  header .account {
    left: 50%;
  }

  header a.user {
    left: 27%;
  }
}

/* Screen width: 700 pixels */
@media screen and (max-width: 700px) {
  p {
    font-size: 0.8em;
  }

  /* Header */
  header a.user {
    left: 30%;
  }
}

/* Screen width: 650 pixels */
@media screen and (max-width: 650px) {

  /* Header */
  header .account p {
    display: none;
  }

  header a.user {
    top: 25%;
  }
}

/* Screen width: 630 pixels */
@media screen and (max-width: 630px) {
  p {
    font-size: 0.7em;
  }

  /* Header */
  header {
    height: 80px;
  }

  header a.logo {
    left: 33%;
    width: 38%;
  }

  header a.user {
    left: 27%;
  }

  /* Mobile Nav */
  header .open {
    color: black;
    font-size: 50px;
    padding: 5px;
    display: block;
    cursor: pointer;
  }

  header .mobile-nav {
    width: 0%;
    overflow-x: hidden;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(249, 249, 249, 0.9);
    transition: 0.5s;
    display: block;
  }

  header .mobile-nav a {
    color: black;
    font-size: 22px;
    display: block;
    padding: 20px;
    transition: 0.1s;
  }

  header .mobile-nav a:checked {
    background-color: black;
    color: white;
  }

  header .mobile-nav .close {
    margin: 20px;
    width: 0;
    padding: 0;
  }

  /* End mobile nav */
  nav {
    display: none;
  }

  footer {
    font-size: 0.85em;
  }
}

/* Section - Promotion */
section.promotion {
  margin-top: 20px;
}

/* Section - Main */
section.main aside {
  float: none;
  width: 100%;
}

section.main aside p {
  font-size: 1.2em;
}

/* Screen width: 570px */
@media screen and (max-width: 570px) {

  /* Section - Main */
  section.main aside.home p {
    font-size: 1em;
  }

  /* Footer */
  footer {
    font-size: 0.9em;
    text-align: center;
    height: auto;
  }

  footer .content {
    display: block;
    padding: 5px;
  }

  footer .content a {
    margin-left: 10px;
    text-decoration: underline;
  }

  footer img {
    width: 25px;
    margin-left: 10px;
  }

  footer .social {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
}

/* Screen width: 500 pixels */
@media screen and (max-width: 500px) {
  header a.logo {
    width: 250px;
    left: 25%;
  }
}

/* Screen width: 550 pixels */
@media screen and (max-width: 550px) {
  header a.logo {
    width: 200px;
    left: 30%;
  }
}

/* Screen width: 465px */
@media screen and (max-width: 465px) {
  section.promotion p {
    font-size: 0.7em;
  }

  /* Screen width: 400px */
  @media screen and (max-width: 400px) {

    /* Header */
    header a.logo {
      width: 150px;
      left: 35%;
    }

    /* Section - Main */
    section.main aside.home p {
      font-size: 0.9em;
    }
  }

  /* Screen width: 350px */
  @media screen and (max-width: 350px) {
    section.main aside.home h1 {
      font-size: 1.5em;
    }

    section.main aside.home p {
      font-size: 0.8em;
    }
  }

  /* Screen width: 300px */
  @media screen and (max-width: 300px): {
    section.main aside.home p {
      font-size: 0.6em;
    }
  }

  /* Min height: 1024 pixels  */
  @media screen and (min-height: 1024px) {
    footer {
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 100%;
    }
  }

  @media screen and (min-height: 1366px) {
    p {
      font-size: 1.9em;
    }

    nav a {
      font-size: 1.5em;
    }

    footer {
      font-size: 1.5em;
    }
  }

  @media screen and (min-height: 1280px) {
    p {
      font-size: 1.2em;
    }

    nav a {
      font-size: 1.2em;
    }

    footer {
      font-size: 1.2em;
    }
  }
